html {
  scroll-behavior: smooth;
}
body {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box !important;
  width: 100%;
  font-family: "lato", sans-serif !important;
  max-width: 100%;
  -webkit-font-smoothing: antialiased;
  background-repeat: repeat;
  background-position: cover;
  height: auto;
  background: #202020;
}
* {
  box-sizing: border-box !important;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "lato", sans-serif !important;
}

.section_title {
  text-align: center;
  color: white;
  padding: 0 1.8rem;
  font-size: 1.8rem;
  letter-spacing: 2px;
  margin: 2.5rem 0;
}

//footer
.footer {
  background-color: #000;
  width: 100%;
  height: auto;
  color: white;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  padding: 2%;
  &_top {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: space-between;
    flex-wrap: wrap;
    p {
      font-size: 1.2rem;
      text-align: center;
      font-weight: normal !important;
      padding: 0 2%;
    }
    &_block {
      width: 20%;
      display: flex;
      flex-direction: column;
      align-items: center;
      &_img {
        margin-bottom: 1rem;
        width: 180px;
        height: auto;
      }
      &_text {
        margin-bottom: 1rem;
      }
      ul {
        list-style-type: none;
        li {
          margin-bottom: 1.2rem;
          color: #ffff;
          cursor: pointer;
          font-size: 1.2rem !important;
        }
      }
    }
  }
  &_bottom {
    margin: 0 2%;
  }
}
@media screen and (max-width: 992px) {
  .footer_top_block {
    padding: 2rem 0;
  }
  .footer_top_block:nth-child(1),
  .footer_top_block:nth-child(2) {
    width: 50%;
  }
  .footer_top_block:nth-child(3),
  .footer_top_block:nth-child(4),
  .footer_top_block:nth-child(5) {
    width: 33%;
  }
}
@media screen and (max-width: 604px) {
  .footer_top_block {
    width: 100% !important;
    align-items: center !important;
    padding: 2% 2%;
    text-align: center;
  }
}
//services

.services {
  height: auto;
  width: 100%;
  background-color: #202020;
  display: flex;
  flex-direction: column;
  padding: 2% 6%;

  &_content {
    display: flex;
    height: auto;

    &_block {
      width: 33%;
      display: flex;
      flex-direction: column;
      align-items: center;
      height: auto;
      position: relative;
      padding: 1% 4%;
      text-align: center;
      &_image {
        height: 150px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 150px;
        border-radius: 50%;
        .dimg {
          width: 100%;
          height: auto;
          padding: 10%;
        }
      }
      &_title {
        font-weight: 600;
        font-size: 1.2rem;
        letter-spacing: 2px;
        margin: 2rem auto;
        text-align: center;
        color: white;
      }
      &_text {
        text-align: center;
        color: white;
        font-size: 1.2rem !important;
        line-height: 1.8;
      }
    }
  }
}

@media screen and (max-width: 1290px) {
  .services {
    padding: 2% 0% !important;
    &_content_block {
      &_title {
        font-size: 16px !important;
      }
      &_text {
        font-size: 14px !important;
      }
    }
  }
}
@media screen and (max-width: 963px) {
  .services {
    padding: 2% 0% !important;
    &_content_block {
      &_title {
        font-size: 14px !important;
      }
      &_text {
        font-size: 14px !important;
      }
    }
  }
}
@media screen and (max-width: 680px) {
  .services {
    padding: 2% 0% !important;
    &_content {
      flex-wrap: wrap;
      &_block {
        width: 100% !important;
        padding: 2% 6%;
        &_title {
          font-size: 16px !important;
        }
        &_text {
          font-size: 14px !important;
          padding: 0 6% !important;
        }
      }
    }
  }
}

//faq
.faq {
  background-color: #202020;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  padding: 0 4% 4% 4%;
  justify-content: space-around;
  position: relative;
  .inter {
    position: absolute;
    left: 0%;
    top: 50%;
    height: 800px;
    transform: translateY(-50%);
  }
  &_content {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    margin: 1rem 0;
    &_q {
      display: flex;
      align-items: center;
      width: 100%;
      margin-bottom: 1rem;
      &_q {
        font-size: 2.5rem;
        padding: 0% 1%;
        width: 10%;
        text-align: center;
        color: #8d3131;
        font-weight: 600;
      }
      &_text {
        background-color: #8d3131;
        width: 90%;
        font-size: 1.4rem;
        padding: 2% 2%;
        display: flex;
        justify-content: space-between;
        position: relative;
        align-items: center;
        &_plus {
          margin: auto;
          position: relative;
          margin: 1rem;
          width: 10%;
          border-radius: 50%;
          text-align: center;
          cursor: pointer;
        }
        .plusicon{
          width: 35px;
        }
      }
    }
    &_a {
      display: none;
      align-items: center;
      width: 100%;

      &_a {
        font-size: 2.5rem;
        padding: 0% 1%;
        width: 10%;
        text-align: center;
      }
      &_text {
        background-color: grey;
        width: 90%;
        font-size: 1.4rem;
        padding: 2% 2%;
        color: black;
        align-self: flex-end;
        padding-left: calc(25px + 1rem) !important;
      }
    }
  }
}
@media screen and (max-width: 1300px) {
  .inter {
    height: 60% !important;
  }
}
@media screen and (max-width: 1060px) {
  .inter {
    display: none;
  }
}
@media screen and (max-width: 700px) {
  .faq_content {
    width: 450px;
  }
}
@media screen and (max-width: 500px) {
  .faq_content {
    width: 350px;
  }

  .faq_content_q_q {
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 370px) {
  .faq_content_q_q {
    display: none;
  }
  .faq_content_a_a {
    display: none;
  }
  .faq_content_q_text,
  .faq_content_a_text {
    width: 100%;
  }
}
//carousel
.carousel {
  height: 500px;
  width: 100%;
  background-image: url("./images/carouselBg.png");
  display: flex;
  background-repeat: no-repeat;
  color: white;
  font-size: 1.6rem;
  text-align: center;
  justify-content: space-around;
  align-items: center;
}

//ourclients
.ourclients {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding: 4% 0%;
  justify-content: space-between;
  background-color: #202020;
  align-items: center;
  .ourclients_title {
    background-color: #000;
    text-align: center;
    border-radius: 5px 5px 0 0;
    padding: 8px 12px;
    color: #fff;
    position: relative;
    width: fit-content;
    font-size: 2rem;
    font-weight: 400;
  }
  &_gallery {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background: #000;
    border-radius: 5px;
    align-items: center;
    justify-content: space-around;
    .imgBrand {
      width: 250px;
      margin: 2rem 0;
      height: auto;
    }
  }
}

//header
.header {
  min-height: 100vh;
  height: auto;
  width: 100%;
  background-image: url("./images/bgF.png");
  background-size: cover;
  background-position: center;
  position: relative;
  .scrollIcon {
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  transition: background-color 0.5s ease;
  z-index: 1000;
}

.container {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.nav {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: height 0.5s ease;
  transition: all 0.5s linear;
}

.nav a {
  text-decoration: none;
  color: #fff;
  font-size: 1.2rem;
}

.nav .logo {
  font-size: 3.5rem;
  font-weight: bold;
  margin-left: 8%;
  margin-top: 1rem;
}

.nav-list {
  list-style: none;
  display: flex;
  margin-left: auto;
}

.nav-link {
  margin: 0 2rem;
  position: relative;
}

.nav-link::after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #fff;
  position: absolute;
  left: 0;
  bottom: -3px;
  transform: scaleX(0);
  transform-origin: left;
  transition: transform 0.5s ease;
}

.nav-link:hover::after {
  transform: scaleX(1);
}

#nav-cta {
  display: inline-block;
  background-color: #933333;
  color: #fff;
  padding: 1rem 1rem;
  border-radius: 4px;
  transition: background-color 0.5s ease;
}

#nav-cta:hover {
  background-color: #d3d3d3;
}

/*Apply styles after scroll*/
.scrolling-active {
  background-color: #000;
  box-shadow: 0 3px 1rem rgba(0, 0, 0, 0.1);
}

.scrolling-active .nav {
  height: 5.2rem;
}

.scrolling-active .nav a {
  color: #fff;
}

.scrolling-active #nav-cta {
  background-color: #933333;
  color: #fff;
}

// .scrolling-active #nav-cta:hover {
// }

.scrolling-active .nav-link::after {
  background-color: #933333;
}

/*Apply styles after scroll end*/

/* Hero Demo Content*/
.hero {
  width: 100%;
  height: 100vh;
  background: url("mountain-large.jpg") center no-repeat;
  background-size: cover;
  position: relative;
}

.hero::after {
  content: "";
  width: inherit;
  height: inherit;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.demo-content {
  width: 100%;
  height: 200vh;
  background-color: #fff;
}

.icon-scroll,
.icon-scroll:before {
  position: absolute;
  left: 50%;
  top: 100%;
  a{
    height: 100%;
    background-color: red;
  }
}
.icon-scroll {
  width: 40px;
  height: 70px;
  margin-left: -20px;
  top: 90%;
  margin-top: -35px;
  box-shadow: inset 0 0 0 1px #fff;
  border-radius: 25px;
}
.icon-scroll:before {
  content: "";
  width: 8px;
  height: 8px;
  background: #fff;
  margin-left: -4px;
  top: 8px;
  border-radius: 4px;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: scroll;
}
@keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(46px);
  }
}
@media screen and (max-width: 933px) {
  .container {
    padding: 0;
  }
  nav {
    flex-direction: column;
    background-color: black !important;
    height: 5rem !important;
    overflow: hidden;
  }
  .nav .logo {
    margin-left: 0;
  }
  .nav-list {
    flex-direction: column !important;
    margin: auto !important;
    height: 50vh;
    justify-content: space-around;
    text-align: center !important;
    margin-bottom: 2rem !important;
  }
  .nav-link {
    margin: 2rem 2rem !important;
    text-align: center;
    border-bottom: 2px solid #cccc;
    line-height: 2;
    letter-spacing: 2px;
    font-size: 2rem;
  }
  #nav-cta {
    background-color: #8d3131 !important;
  }
  .hamburger {
    position: absolute;
    left: 90%;
    top: calc(2.5rem - 9px);
    align-items: center;
    cursor: pointer;
    &One,
    &Two,
    &Three {
      height: 3px;
      width: 25px;
      background-color: white;
      margin-bottom: 4px;
    }
  }
}

.hide {
  height: 5rem !important;
}
.show {
  height: auto !important;
}

.contactus {
  height: 100vh;
  width: 100%;
  background-color: white;
  padding: 4% 4%;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  background-color: #202020;
  &_bg {
    background-color: #313131;
    width: 1000px;
    height: 550px;
    border-radius: 20px;
    z-index: 1;
  }
  &_form {
    width: 375px;
    height: 55%;
    background-color: #161616;
    position: absolute;
    top: 40%;
    z-index: 2;
    left: 40%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6% 2%;
    border-radius: 3px;
    color: white;
    text-align: left !important;
    h1 {
      font-weight: 600;
      font-size: 2.5rem;
      position: relative;
      letter-spacing: 3px !important;
      left: -33%;
      color: white;
      width: 100%;
    }
    button {
      width: 100%;
      font-size: 1.2rem;
      padding: 2%;
      font-weight: 400;
    }
  }
}
